version: '3'
services:
  dockerfile-api:
    build:
      context: /home/test/Bureau/SAE501-502-BVB
      dockerfile: Dockerfiles/Dockerfile-api
    network_mode: host
    ports:
      - "5000:5000"
    environment:
      REGISTRY_HTTP_TLS_DISABLE: "true"

  dockerfile-tkinter:
    build:
      context: /home/test/Bureau/SAE501-502-BVB
      dockerfile: Dockerfiles/Dockerfile-tkinter
    stdin_open: true
    tty: true
    environment:
      - DISPLAY=$DISPLAY
#      - XHOST_IP=172.19.0.2
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    network_mode: host
